# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# .github/* @onedr0p @bjw-s @JJGadgets # original pipeline code written by them
* @mrkhachaturov
@mrkhachaturov